/* MOBILE (max-width: 480px) */

header {
    padding: 15px;
    align-items: center;
}

header div {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

header img:first-child {
    width: 220px;
}

header img:last-child {
    width: 100px;
    margin-left: 0;
}

.collage-name {
    margin-left: 0;
    font-size: 13px;
    text-align: center;
}
.Intro {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgb(45, 8, 8);
}   
nav {
    flex-direction: column;
    gap: 8px;
}

nav a {
    font-size: 16px;
    padding: 10px;
}

main {
    padding: 0px 5px;
}

main h1 {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
}

.marks-table {
    font-size: 12px;
}

.marks-table th,
.marks-table td {
    padding: 6px;
}   
h2 {
    font-size: 1.2rem;
}   
.marks-table {
    margin-top: 2px;
}
.details-table th,
.details-table td {
    font-size: 12px;
    padding: 6px;
} 
.map-wrapper {
    margin: 0 -10px;
}      

@media only screen and (max-width: 480px) {

    .course-dropdown summary {
        font-size: 14px;
    }
    .course-dropdown li a {
        font-size: 13px;
    }
}