/* SMALL LAPTOP (769px – 1024px) */

header {
    padding: 20px 40px;
}

header img:first-child {
    width: 350px;
}

header img:last-child {
    width: 250px;
    margin-left: auto;
}

nav a {
    font-size: 1.1rem;
}

main {
    padding: 25px 40px;
}

main h1 {
    font-size: 1.50rem;
}

.marks-table th,
.marks-table td {
    padding: 10px;
}   
.hamburger {
    display: none;
}

nav {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
    margin-top: 10px;
}   
#contact_form {
    margin: 20px auto;
    width: 50%;
}   